.banner_heading{
    display: flex;
    justify-content: space-between;
    background-color: #4156b8;
    
  }
  .banner_heading_subtitle{
  padding: 1rem;
    font-weight: bolder;
    color:#fff;
  
  }